div {
    text-align: center;
}

body{
    background-color: #91c7c5;
}

button{
    background: #6da372;
    border: none;
    color: #FFFFFF;
    padding: 10px 30px;
}

h1{
    color: #FFFFFF;
}

#container {
    margin: 10%;
}